* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    scroll-behavior: smooth;
}
/* Global rules */
:root {
    --id-color : #0c65ed;
    --animate-delay: 0.5s;
}
.hover-c {
    color: var(--id-color);
}
.hover-b {
    background-color: var(--id-color);
}
.effect {  /* effect Glasses */
    position: relative;
    overflow: hidden;
}
.effect:hover::after {
    transform: translate(400px) rotate(30deg);
}
.effect::after {
    content: "";
    position: absolute;
    top: -60%;
    left: -40%;
    width: 30%;
    background-color: rgb(211 196 196 / 45%);
    height: 200%;
    transform: rotate(30deg);
    transition-duration: 0.6s;
}
/* Start Custam */
/* Start header */
header {
    background-color: var(--id-color);
}
header .container {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
}
header .container .head-left {
    color: white;
    width: 45%;
    align-items: center;
}
.social-icons a {
    padding: 10px 5px;
}
.social-icons a i {
    color: white;
}
header .container .head-left .address * {
    padding: 10px 10px;
}
.rotate {
    transform: rotate(-45deg);
}
/* End header */
/* Start Nav */
nav {
    font-size: 14px;
    font-weight: 600;
}
nav .collapse .navbar-nav .dropdown {
    padding: 0 7px;
}
nav .collapse .navbar-nav .dropdown .dropdown-menu {
    display: block;
    visibility: hidden;
    transform: translateX(-20px);
    opacity: 0;
    border-top: 3px solid var(--id-color);
    border-radius: 0 !important;
}
nav .collapse .navbar-nav .dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
    transform: translateX(10px);
    transition-duration: 0.7s;
}
nav .collapse .navbar-nav .dropdown .dropdown-menu :not(:last-child){
    border-bottom: 3px solid #eee;
}
nav .collapse .navbar-nav .dropdown:hover .dropdown-menu .dropdown-item {
    padding: 10px 20px;
}
.nav-link {
    color: black;
}
nav .collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
    color: var(--id-color);
}
nav .collapse .navbar-nav a:hover {
    color: var(--id-color);
    background-color: white;
    /* 000 */
}
/* End Nav */
/* Start slider */
.slider-section .slide .carousel-inner img {
    height: 80vh;
    filter: brightness(30%);
}

.carousel-indicators {
    top: 0%;
    left: 80%;
    flex-direction: column;
}
.carousel-indicators button {
    width: 10px !important;
    height: 10px !important;
    border: 1px solid white !important;
    margin-top: 20px !important;
    background-color: white !important;
}
.carousel-indicators .active {
    background-color: transparent !important;
}
.slider-section .carousel-inner .carousel-item .carousel-caption {
    top: 37% !important;
}
.slider-section .carousel-inner .carousel-item .carousel-caption button {
    width: 20%;
}
.slider-section .carousel-inner .carousel-item .carousel-caption :nth-child(4):hover {
    background-color: var(--id-color) !important;
}
/* Start About Us */
.about-us {
    margin-bottom: 200px;

}
.header-seation {
    margin: 150px auto 30px;
    display: flex;
}
.head-side {
    padding: 0;
    margin: auto 0;
}
.header-seation .head-middle {
    text-align: center;
}
.header-seation .head-middle p {
    margin: auto;
    padding: 0 5px;
}
.header-seation hr {
    background-color: var(--id-color);
    margin: 4px 0;
}
.header-seation hr:nth-child(1) {
    height: 4px;
    opacity: 0.8;
    width: 50%;
}
.header-seation .head-side.right hr:nth-child(1) {
    margin-left: auto;
}
.header-seation hr:nth-child(2) {
    height: 2.7px;
    opacity: 0.6;
}
.p-common {
    color: #787575 ;
    font-size: 18px;
}
.about-us .bady-about-me button {
    background-color: var(--id-color);
    color: white;
}
.about-us .bady-about-me .row .boxs-cont {
    position: absolute;
    background-color: white;
    top: 5%;
    left: 5%;
}
.about-img {
    height: 120%;
}
.about-us .bady-about-me .about-box a {
    color: black;
}
.about-us .bady-about-me .about-box:hover a ,
.about-us .bady-about-me .about-box:hover .about-box-info p:first-child {
    color: var(--id-color);
}
/* End About Us */
