@media screen and (max-width: 990px) {
    /* Start Nav */
    nav .collapse .navbar-nav .dropdown .dropdown-menu {
        display: none;
    }
    nav .collapse .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
        width: 50%;
        transform: none;
    }
    /* Start Slider */
    .carousel-inner {
        height: 50vh !important;
    }   
    .carousel-inner img {
        height: 100% !important;
    }
    /* Start About Us */
    .header-seation .head-middle p {
        font-size: 24px !important;
    }
    .boxs-cont {
        position: static !important;
        margin-bottom: 20px;
    }
    .about-img {
        height: 100% !important;
    }
    .thrid-col {
        margin-top: 20px;
    }
    .boxs-cont .about-box a,
    .boxs-cont .about-box i {
        width: 27px;
        height: 27px;
    }

}
