@media screen and (max-width: 990px) {
    /* Start Nav */
    nav .collapse .navbar-nav .dropdown .dropdown-menu {
        display: none;
    }
    nav .collapse .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
        width: 50%;
        transform: none;
    }
    nav .collapse .navbar-nav .dropdown {
        padding: 0;
    }
    /* Start Slider */
    .carousel-inner {
        height: 50vh !important;
    }   
    .carousel-inner img {
        height: 100% !important;
    }
    /* Start About Us */
    .header-seation .head-middle p {
        font-size: 24px !important;
    }
    .boxs-cont {
        position: static !important;
        margin-bottom: 20px;
    }
    .about-img {
        height: 100% !important;
    }
    .thrid-col {
        margin-top: 20px;
    }
    .about-img {
        height: 100%;
        max-width: 100%;
    }
    /* Start Counter */
    .aInCounterBox {
        width: 90px;
        height: 90px;
    }
    .aInCounterBox i {
        font-size: 40px;
    }
    .counter-info h4 {
        font-weight: 700;
        font-size: x-large;
    }
    .counter-info .p-common {
        font-size: 18px;
    }
    /* End Counter */
    /* Start Our Services */
    .c-white.p-common.w-75 {
        width: 100% !important;
    }
    /* End Our Services */
    .ourCreativeTeam .ourTeamItem .teamInfo {
        bottom: -42.5%;
    }

}
@media screen and (max-width: 1200px) {
    .ourCreativeTeam .ourTeamItem .teamInfo {
        bottom: -42.5%;
    }
}
@media screen and (max-width: 770px) {
    .ourCreativeTeam .ourTeamItem .teamInfo {
        bottom: -35.5%;
    }
}